.header{
    text-align: center;
}
.styleUsers{
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.stylePost{
    width: 70%;
    background-color: azure;
    padding: 15px;
    margin: 10px;
}

.stylePosts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.stuleComment{
    width: 70%;
    background-color: #f2f8ff;
    padding: 15px;
    margin: 10px;
}

.styleComments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

