.styleUsers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    text-align: start;
}

.styleUsersLeft{
    width: 50%;
}

.styleUsersRight{
    width: 50%;
    text-align: center;
}

.stylePost{
    width: 70%;
    background-color: azure;
    padding: 15px;
    margin: 10px;

}
.stylePost:nth-child(odd) {
    background: #b3f6f6;
}

.stylePosts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.styleComment{
    width: 70%;
    background-color: #f2f8ff;
    padding: 15px;
    margin: 10px;
}

.styleComment:nth-child(odd) {
    background: #a4d2fc;
}

.styleComments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

